/* Mobile Devices */
@media (min-width: 320px) {
  /* banner */
  .contact-info-banner {
    height: 106vh;
  }
  /* Logo */
  .cd-logo {
    height: 50px;
    width: 178px;
  }
  /* Profile Picture */
  .profile-photo {
    height: 164.11361694335938px;
    width: 164.11361694335938px;
  }
  .profile-photo {
    margin-bottom: 8px;
  }

  /* Social Media Icons */
  #whatsapp img {
    height: 60px;
    width: 60px;
  }
  #message img {
    height: 60px;
    width: 60px;
  }
  #email img {
    height: 60px;
    width: 60px;
  }
  #url img {
    height: 60px;
    width: 60px;
  }
  #telephone img {
    height: 60px;
    width: 60px;
  }
}

/* Tablet Devices */
@media (min-width: 768px) {
  body {
    padding-top: 40px;
  }
  /* banner */
  .contact-info-banner {
    height: 70vh;
  }
  /* Logo */
  .cd-logo {
    height: 56px;
    width: 196px;
  }
  /* Profile Picture */
  .profile-photo {
    height: 139.5908966064453px;
    width: 139.5908966064453px;
  }
  .profile-photo {
    margin-bottom: 28px;
  }
  .sm-icons {
    margin-bottom: 24px;
  }
  .sm-icons:last-child {
    margin-bottom: 0px;
  }

  /* Social Media Icons */
  #whatsapp img {
    height: 80px;
    width: 80px;
  }
  #message img {
    height: 80px;
    width: 80px;
  }
  #email img {
    height: 80px;
    width: 80px;
  }
  #url img {
    height: 80px;
    width: 80px;
  }
  #telephone img {
    height: 80px;
    width: 80px;
  }
}

/* Desktop Devices */
@media (min-width: 992) {
  /* banner */
  .contact-info-banner {
    height: 124vh;
  }
  /* Logo */
  .cd-logo {
    height: 130.9587860107422px;
    width: 468px;
  }
  /* Profile Picture */
  .profile-photo {
    height: 339.5454406738281px;
    width: 339.5454406738281px;
  }
  .profile-photo {
    margin-bottom: 48px;
  } 
}

/* Large Display */
@media (min-width: 1400px) {
  /* banner */
  .contact-info-banner {
    height: 104vh;
  }
}