/* Mobile Devices */
@media (min-width: 20rem) {
  /* banner */
  .contact-info-banner {
    height: 75vh;
  }
  /* Logo */
  .cd-logo {
    height: 50px;
    width: 178px;
  }
  /* Profile Picture */
  .profile-photo {
    height: 164.11361694335938px;
    width: 164.11361694335938px;
  }
  .profile-photo {
    margin-bottom: 8px;
  }
  .sm-icons {
    height: 80px;
    width: 80px;
  }

  /* Social Media Icons */
  #whatsapp img {
    height: 35.56px;
    width: 35.53px;
  }
  #message img {
    height: 33.04px;
    width: 36.75px;
  }
  #email img {
    height: 42px;
    width: 32.75px;
  }
  #url img {
    height: 36px;
    width: 36px;
  }
  #telephone img {
    height: 35.25px;
    width: 35.25px;
  }
}

/* Tablet Devices */
@media (min-width: 48rem) {
  body {
    padding-top: 40px;
  }
  /* banner */
  .contact-info-banner {
    height: 70vh;
  }
  /* Logo */
  .cd-logo {
    height: 56px;
    width: 196px;
  }
  /* Profile Picture */
  .profile-photo {
    height: 139.5908966064453px;
    width: 139.5908966064453px;
  }
  .profile-photo {
    margin-bottom: 28px;
  }
  .sm-icons {
    height: 100px;
    width: 100px;
    margin-bottom: 12px;
  }
  .sm-icons:last-child {
    margin-bottom: 0px;
  }

  /* Social Media Icons */
  #whatsapp img {
    height: 47.406761169433594px;
    width: 47.379981994628906px;
  }
  #message img {
    height: 44.05281448364258px;
    width: 49px;
  }
  #email img {
    height: 43.662559509277344px;
    width: 56px;
  }
  #url img {
    height: 48px;
    width: 48px;
  }
  #telephone img {
    height: 47px;
    width: 47px;
  }
}

/* Desktop Devices */
@media (min-width: 62rem) {
  /* banner */
  .contact-info-banner {
    height: 104vh;
  }
  /* Logo */
  .cd-logo {
    height: 130.9587860107422px;
    width: 468px;
  }
  /* Profile Picture */
  .profile-photo {
    height: 339.5454406738281px;
    width: 339.5454406738281px;
  }
  .profile-photo {
    margin-bottom: 48px;
  }
  /* Social Media Icons */
  .sm-icons {
    height: 120px;
    width: 120px;
    margin-bottom: 48px;
  }
  .sm-icons:last-child {
    margin-bottom: 0px;
  }
  #whatsapp img {
    height: 47.406761169433594px;
    width: 47.379981994628906px;
  }
  #message img {
    height: 44.05281448364258px;
    width: 49px;
  }
  #email img {
    height: 43.662559509277344px;
    width: 56px;
  }
  #url img {
    height: 48px;
    width: 48px;
  }
  #telephone img {
    height: 47px;
    width: 47px;
  }
}
