body {
  background-image: url("../media/svg/background/bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.contact-info-banner {
  background-image: url("../media/svg/shapes/triangles/banner_TL.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-holder {
  background: #ffffff;
  box-shadow: 0px 20px 36px rgba(249, 208, 195, 0.24);
  border-radius: 0px 0px 300px 300px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile-photo {
  border: 10px solid var(--primary);
}

.contact-PrimaryDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sm-icons {
  background-image: url("../media/svg/shapes/custom/eclipse.svg");
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(223, 223, 223, 0.24);
  box-shadow: 0px 6px 8px rgba(87, 87, 87, 0.25);
  background-color: white;
}

.container-bg {
  background-image: url("../media/svg/background/card.svg");
  background-repeat: repeat;
  background-size: cover;
}

.btn-primary,
.btn-primary:hover {
  color: #fff;
  background-color: var(--error);
  border-color: var(--error);
}
.btn-check:focus + .btn-primary,
.btn-primary:focus {
  color: #fff;
  background-color: var(--error);
  border-color: var(--error);
  box-shadow: none;
}
.btn-secondary,
.btn-secondary:hover {
  color: #fff;
  background-color: var(--text);
  border-color: var(--text);
}
.btn-check:focus + .btn-secondary,
.btn-secondary:focus {
  color: #fff;
  background-color: var(--text);
  border-color: var(--text);
  box-shadow: none;
}
/* Carousel */
.carousel-indicators [data-bs-target] {
  width: 14px;
  height: 14px;
  background-color: #c4c4c4;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid transparent;
}
.carousel-indicators .active {
  background: #e6ad9a;
}
.carousel-prev {
  background-image: url("../media/svg/icons/social-media/carousel-prev.svg");
  width: 30px !important;
  height: 30px !important;
}
.carousel-next {
  background-image: url("../media/svg/icons/social-media/carousel-next.svg");
  width: 30px !important;
  height: 30px !important;
}
